# Don't add local Mac directory cache files
**/.DS_Store

# Don't add local xcode cache files
**/xcuserdata

# Exclude RAW prman output from git
**/*.tiff

# Exclude Environment files with secrets
**/.env
/env/

# Exclude JAVA target folders
*/target/*

# Exclude Python byte-compiled
**/__pycache__
